<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weatherman</title>
</head>
<body id="body">
    <label for="city-input" id="city-label">city:</label>
    <input type="text" id="city-input" autofocus placeholder="Sweet Home, AL">
    <button id="submit">show me</button>
    <div id="today-box">
        <h2 id="date">TODAY</h2>
        <h2 id="city"></h2>
        <div id="temp-box" class="glow">
            <h1 id="temp"></h1>
            <div id="f-c">
                <p id="far" class="bold">°F</p>
                <p>|</p>
                <p id="cel">°C</p>
            </div>
        </div>
        <div id="high-low">
            <p id="high">H:</p>
            <p id="low">L:</p>
        </div>
        <span id="conditions"></span>
        <span id="desc"></span>

        <div id="phw">
            <span id="prec"></span>
            <p>|</p>
            <span id="humid"></span>
            <p>|</p>
            <span id="wind"></span>
        </div>


    </div>
    <div id="week-box">
        <h2 id="daily-title">DAILY FORECAST</h2>

    </div>
    <span id="updated"></span>
    
    <!-- <script src="./main.js"></script> -->
</body>
</html>